<%= form_for @group, url: groups_edit_path do | form | %>
  <div class="row">
    <p class="field ten columns">
      <%= form.label :cn, 'Identifier (read-only):' %>
      <%= form.text_field :cn, :class => 'input', :readonly => true %>
    </p>
  </div>

  <div class="row">
    <p class="field ten columns">
      <%= form.label :mail, 'Group email address:' %>
      <%= form.text_field :mail, :class => 'input' %>
    </p>
  </div>

  <div class="row">
    <%= form.label :members, 'Members:', :class => 'eight columns' %>
    <%= form.hidden_field :authenticity_token, :value => form_authenticity_token %>
  </div>

  <div class="row">
    <div class="twelve columns field">
      <ul>
          <li class="row">
          <%= form.text_field :members, :multiple => true, :value => @members, :class => 'ten columns', 'data-memberfield' => 'true', :autocomplete => :off %>
          </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <p class="medium primary btn"><%= form.submit "Save #{@group.cn}", tabindex: 1000 %>
  </div>
<% end %>
