<%= form_for @group, url: groups_new_path do | form | %>
<div class="row">
  <p class="field ten columns">
    <%= form.label 'Identifier:' %>
    <%= form.text_field :cn, :class => 'input' %>
  </p>
</div>

<div class="row">
  <p class="field ten columns">
    <%= form.label 'Group email address:' %>
    <%= form.text_field :mail, :class => 'input' %></p>
  </p>
</div>

<div class="row">
  <%= form.label 'Members:', :class => 'eight columns' %>
  <%= form.hidden_field :authenticity_token, :value => form_authenticity_token %>
</div>

<div class="row">
  <div class="twelve columns field">
    <ul>
        <li class="row">
        <%= form.text_field :members, :multiple => true, :value => @group_members, :class => 'ten columns', 'data-memberfield' => 'true' %>
        </li>
    </ul>
  </div>
</div>

<div class="row">
  <p class="medium primary btn"><%= form.submit "Save the new group" %>
</div>
<% end %>
