<%= form_for @group, url: groups_new_path do | form | %>
<div class="row">
  <p class="field nine columns">
    <%= form.label :cn, 'Identifier:' %>
    <%= form.text_field :cn, :class => 'input', autofocus: :autofocus %>
  </p>

  <div class="field three columns">
    <p class="medium primary btn"><%= form.submit "Save the group", tabindex: 1000 %></p>
  </div>
</div>

<div class="row">
  <p class="field nine columns">
    <%= form.label :mail, 'Group email address:' %>
    <%= form.text_field :mail, :class => 'input' %>
  </p>
</div>

<div class="row">
  <%= form.label :members, 'Members:', :class => 'eight columns' %>
  <%= form.hidden_field :authenticity_token, :value => form_authenticity_token %>
</div>

<div class="row">
  <div class="twelve columns field">
    <ul>
        <li class="row">
          <%= form.text_field :members, :multiple => true, :value => @members, :class => 'nine columns', 'data-memberfield' => 'true' %>
        </li>
    </ul>
  </div>
</div>
<% end %>
