<% unless @users.nil? or @users.empty?
  @users.each do | user | %>
    <tr>
      <td><%= link_to(user.uid, users_edit_path(:uid => user.uid)) %></td>
      <td><%= user.displayName %></td>
      <td><%= user.mail %></td>
      <td><%= "%.2f / %.2f Mb" % [user.current_quota.to_f, user.zarafaQuotaHard] %></td>
      <td>
        <% if user.zarafaSharedStoreOnly == 1 %>
          <i class="icon-archive" title="Archive"></i>
        <% else %>
          <i class="icon-mail" title="Mailbox"></i>
        <% end %>
      </td>
      <td><div class="small danger btn icon-left entypo icon-cancel-circled"><%= link_to('Delete', users_delete_path(:uid => user.uid), :class => "delete_user") %></div></td>
    </tr>
  <% end
  else %>
    <tr>
      <td colspan="6">No result, try with another search</td>
    </tr>
<% end %>
