<%= form_for @user, url: users_update_path do | form | %>
<div class="row">
  <p class="field ten columns">
    <%= form.label 'Username:' %>
    <%= form.text_field :uid, :class => 'input' %>
  </p>
</div>

<div class="row">
  <p class="field ten columns">
    <%= form.label 'Email address:' %>
    <%= form.text_field :mail, :class => 'input' %>
  </p>
</div>

<div class="row">
  <%= form.label 'Full name:' %>
</div>

<div class="row">
  <p class="field five columns">
    <%= form.text_field :givenName, :class => 'input', :placeholder => 'First name' %>
  </p>
  <p class="field five columns">
  <%= form.text_field :surname, :class => 'input', :placeholder => 'Last name' %>
  </p>
</div>

<div class="row">
  <fieldset class="field ten columns">
    <legend>Aliases:</legend>

    <ul>
    <% if @user.zarafaAliases.kind_of?(Array) %>
      <% @user.zarafaAliases.each do | mailalias | %>
        <li>
          <%= form.text_field :zarafaAliases, :multiple => true, :value => mailalias, :class => 'input' %>
        </li>
      <% end %>
    <% else %>
        <li>
          <%= form.text_field :zarafaAliases, :multiple => true, :class => 'input' %>
        </li>
    <% end %>
    </ul>
  </fieldset>
</div>

<div class="row">
  <p>
  <%= form.label 'Admin:', :class => 'inline' %>
    <%= form.check_box :zarafaAdmin %>
  </p>
</div>

<div class="row">
  <p class="medium primary btn"><%= form.submit "Save #{@user.uid}" %>
</div>
<% end %>
