<div class="row">
<%= form_for @user, url: users_update_path do | form | %>
  <p class="field">
    <%= form.label 'Username:' %>
    <%= form.text_field :uid, :class => 'input' %>
  </p>

  <p class="field">
    <%= form.label 'Email address:' %>
    <%= form.text_field :mail, :class => 'input' %>
  </p>

  <fieldset class="field">
    <legend>Aliases:</legend>

    <ul>
    <% if @user.zarafaAliases.kind_of?(Array) %>
      <% @user.zarafaAliases.each do | mailalias | %>
        <li>
          <%= form.label :zarafaAliases, :class => 'inline' %>
          <%= form.text_field :zarafaAliases, :multiple => true, :value => mailalias, :class => 'input' %>
        </li>
      <% end %>
    <% else %>
        <li>
          <%= form.text_field :zarafaAliases, :multiple => true, :class => 'input' %>
        </li>
    <% end %>
    </ul>
  </fieldset>

  <p class="field">
    <%= form.label 'First name:' %>
    <%= form.text_field :givenName, :class => 'input' %>
  </p>

  <p class="field">
    <%= form.label 'Last name:' %>
    <%= form.text_field :surname, :class => 'input' %>
  </p>

  <p>
  <%= form.label 'Admin:', :class => 'inline' %>
    <%= form.check_box :zarafaAdmin %>
  </p>

  <p class="medium primary btn"><%= form.submit "Save #{@user.uid}" %>
<% end %>
</div>
