<section class="tabs">
  <div class="row">
    <ul class="tab-nav">
      <li class="active"><a href="#">Basic information</a></li>
      <li><a href="#">Mail aliases</a></li>
      <li><a href="#">Privileges</a></li>
    </ul>
  </div>

  <%= form_for @user, url: users_update_path do | form | %>
  <div class="tab-content active">
    <div class="row">
      <p class="field nine columns">
        <%= form.label :uid, 'Username (read-only):' %>
        <%= form.text_field :uid, :class => 'input', :readonly => true %>
      </p>

      <div class="field three columns">
        <p class="medium primary btn"><%= form.submit "Save #{@user.uid}" %></p>
      </div>
    </div>

    <div class="row">
      <p class="field nine columns">
        <%= form.label :mail, 'Email address:' %>
        <%= form.text_field :mail, :class => 'input' %>
      </p>
    </div>

    <div class="row">
      <%= form.label :givenName, 'Full name:' %>
    </div>

    <div class="row">
      <p class="field four columns">
        <%= form.text_field :givenName, :class => 'input', :placeholder => 'First name' %>
      </p>
      <p class="field four columns push_one">
        <%= form.text_field :sn, :class => 'input', :placeholder => 'Last name' %>
      </p>
    </div>

    <div class="row">
      <p class="field nine columns">
        <%= form.label :userPassword, 'New password:' %>
        <%= form.password_field :userPassword, :class => 'input' %>
      </p>
    </div>

    <div class="row">
      <%= form.label :zarafaQuotaSoft, 'User quotas:' %>
    </div>

    <div class="row">
      <p class="field four columns">
        <%= form.text_field :zarafaQuotaSoft, :class => 'input', :placeholder => 'Soft quota limit' %>
      </p>

      <p class="field four columns push_one">
        <%= form.text_field :zarafaQuotaHard, :class => 'input', :placeholder => 'Hard quota limit' %>
      </p>
    </div>
  </div>

  <div class="tab-content">
    <div class="row">
      <div class="nine columns field">
        <ul>
          <% @user.zarafaAliases(true).each do | mailalias | %>
            <li class="row">
              <%= form.text_field :zarafaAliases, :multiple => true, :value => mailalias, :class => 'input nine columns', 'data-aliasfield' => 'test' %>
              <div class="small danger btn two columns icon-left entypo icon-cancel-circled"><a href="#" class="aliasremove">Remove</a></div>
            </li>
          <% end %>

          <li class="row">
            <%= form.text_field :zarafaAliases, :multiple => true, :value => '', :class => 'input nine columns', 'data-aliasfield' => 'test' %>
            <div class="small danger btn two columns icon-left entypo icon-cancel-circled"><a href="#" class="aliasremove">Remove</a></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="medium info btn two columns icon-left icon-plus-circled"><a href="#" data-aliastoggle>Add</a></div>
    </div>
  </div>

  <div class="tab-content">
    <div class="row">
      <p class="four columns">
        <%= form.label :zarafaAdmin, 'Admin:', :class => 'inline' %>
        <%= form.check_box :zarafaAdmin %>
      </p>

      <p class="four columns push_one">
        <%= form.label :zarafaHidden, 'Hidden from addressbook:', :class => 'inline' %>
        <%= form.check_box :zarafaHidden %>
      </p>
    </div>

    <div class="row">
      <%= form.label :zarafaSendAsPrivilege, 'This user can send emails as:', :class => 'eight columns' %>
      <%= form.hidden_field :authenticity_token, :value => form_authenticity_token %>
    </div>

    <div class="row">
      <div class="nine columns field">
        <ul>
          <li>
            <%= form.text_field :zarafaSendAsPrivilege, :multiple => true, :value => @user.zarafaSendAsPrivilege, 'data-sendasfield' => 'test' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
</section>
