<%= form_for @user, url: users_new_path do | form | %>
<div class="row">
  <div class="field nine columns">
    <%= form.label :uid, 'Username:' %>
    <%= form.text_field :uid, :class => 'input', autofocus: :autofocus %>
  </div>

  <div class="field three columns">
    <p class="medium primary btn"><%= form.submit "Save the user", tabindex: 1000 %></p>
  </div>
</div>

<div class="row">
  <%= form.label :givenName, 'Full name:' %>
</div>
    
<div class="row">
  <div class="field four columns">
    <%= form.text_field :givenName, :class => 'input', :placeholder => 'First name' %>
  </div>

  <div class="field four columns push_one">
    <%= form.text_field :sn, :class => 'input', :placeholder => 'Last name' %>
  </div>
</div>
    
<div class="row">
  <div class="field nine columns">
    <%= form.label :mail, 'Main email address:' %>
    <%= form.text_field :mail, :class => 'input' %>
  </div>
</div>

<div class="row">
    <%= form.label :zarafaQuotaSoft, 'User quotas:' %>
</div>
    
<div class="row">
  <div class="field four columns">
    <%= form.text_field :zarafaQuotaSoft, :class => 'input', :placeholder => 'Soft quota limit' %>
  </div>

  <div class="field four columns push_one">
    <%= form.text_field :zarafaQuotaHard, :class => 'input', :placeholder => 'Hard quota limit' %>
  </div>
</div>

<div class="row">
  <%= form.label :groups, 'Groups:', :class => 'eight columns' %>
  <%= form.hidden_field :authenticity_token, :value => form_authenticity_token %>
</div>

<div class="row">
  <div class="twelve columns field">
    <ul>
      <li class="row">
        <%= form.text_field :groups, :multiple => true, :value => @groups, :class => 'nine columns', 'data-memberfield' => 'true' %>
      </li>
    </ul>
  </div>
</div>

<% end %>
