<% unless @resources.nil? or @resources.empty?
  @resources.each do | resource | %>
    <tr>
      <td><%= link_to(resource.uid, resources_edit_path(:uid => resource.uid)) %></td>
      <td><%= resource.displayName %></td>
      <td><%= resource.zarafaResourceType %></td>
      <td><%= resource.mail %></td>
      <td><div class="small danger btn icon-left entypo icon-cancel-circled"><%= link_to('Delete', resources_delete_path(:uid => resource.uid), :class => 'delete_resource') %></div></td>
    </tr>
  <% end
  else %>
    <tr>
      <td colspan="5">No result, try with another search</td>
    </tr>
<% end %>
