<%= form_for @resource, url: resources_update_path do | form | %>
<div class="row">
  <div class="field nine columns">
    <%= form.label :uid, 'Internal name (read-only):' %>
    <%= form.text_field :uid, :class => 'input', :readonly => true %>
  </div>

  <div class="field three columns">
    <p class="medium primary btn"><%= form.submit "Save #{@resource.uid}" %></p>
  </div>
</div>

<div class="row">
  <p class="field nine columns">
    <%= form.label :mail, 'Email address:' %>
    <%= form.text_field :mail, :class => 'input' %>
  </p>
</div>

<div class="row">
  <%= form.label :sn, 'Resource name:' %>
</div>

<div class="row">
  <p class="field nine columns">
  <%= form.text_field :sn, :class => 'input' %>
  </p>
</div>

<div class="row">
  <p class="labels three columns">
    <%= form.label :zarafaResourceType, 'Resource type:' %>
  </p>
  <p class="labels two columns push_four">
    <%= form.label :zarafaResourceCapacity, 'Quantity:' %>
  </p>
</div>

<div class="row">
  <div class="picker three columns">
    <%= form.select(:zarafaResourceType, options_for_select([['Room', 'room'], ['Equipment', 'equipment']], @resource.zarafaResourceType)) %>
  </div>

  <p class="field two columns push_four">
    <% if @resource.zarafaResourceType == "room" %>
      <%= form.number_field :zarafaResourceCapacity, :class => 'input', :min => 1, :readonly => true %>
    <% else %>
      <%= form.number_field :zarafaResourceCapacity, :class => 'input', :min => 1 %>
    <% end %>
  </p>
</div>
<% end %>
