<%= form_for @resource, url: resources_new_path do | form | %>
<div class="row">
  <div class="field nine columns">
    <%= form.label :sn, 'Resource name:' %>
    <%= form.text_field :sn, :class => 'input', autofocus: :autofocus %>
  </div>

  <div class="field three columns">
    <p class="medium primary btn"><%= form.submit "Save the resource" %></p>
  </div>
</div>
    
<div class="row">
  <p class="labels three columns">
    <%= form.label :zarafaResourceType, 'Resource type:' %>
  </p>

  <p class="labels two columns push_four">
    <%= form.label :zarafaResourceCapacity, 'Quantity:' %>
  </p>
</div>

<div class="row">
  <div class="picker three columns">
    <%= form.select(:zarafaResourceType, options_for_select([['Room', 'room'], ['Equipment', 'equipment']])) %>
  </div>
  <p class="field two columns push_four">
    <%= form.number_field :zarafaResourceCapacity, :class => 'input', :value => 1, :min => 1, :readonly => true %>
  </p>
</div>

<div class="row">
  <p class="field nine columns">
    <%= form.label :mail, 'Main email address:' %>
    <%= form.text_field :mail, :class => 'input' %>
  </p>
</div>
<% end %>
