<%= form_tag(auth_path, method: 'post') do %>
  <div class="row">
    <p class="field ten columns">
        <%= label_tag(:username, 'Username:') %>
        <%= text_field_tag(:username, '', class: 'input') %>
    </p>
  </div>

  <div class="row">
    <p class="field ten columns">
        <%= label_tag(:password, 'Password:') %>
        <%= password_field_tag(:password, '', class: 'input') %>
    </p>
  </div>

  <div class="row">
    <p class="medium primary btn"><%= submit_tag "Authenticate" %>
  </div>
<% end %>
