<div class="row">
  <p>Welcome to Zarafa Dashboard, please enter your credentials to gain access to the application.</p>
</div>

<%= form_tag(auth_path, method: 'post') do %>
  <div class="row">
    <p class="field eight columns push_two">
        <%= label_tag(:username, 'Username:') %>
        <%= text_field_tag(:username, '', class: 'input', autofocus: :autofocus) %>
    </p>
  </div>

  <div class="row">
    <p class="field eight columns push_two">
        <%= label_tag(:password, 'Password:') %>
        <%= password_field_tag(:password, '', class: 'input') %>
    </p>
  </div>

  <div class="row">
    <p class="medium primary btn push_two"><%= submit_tag "Authenticate" %>
  </div>
<% end %>
