<!DOCTYPE html>
<html>
<head>
  <title>ZDashboard - <%= @title %></title>

  <%= stylesheet_link_tag    'gumby', media: 'screen' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    params[:controller], media: 'all' %>
  <%= stylesheet_link_tag    'select2', media: 'all' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="row">
    <h1 class="ten columns columns">ZDashboard</h1>
    <p class="two columns"><%= image_tag 'zarafa.jpg' %></p>
  </header>

  <nav class="row navbar">
    <ul class="twelve columns">
      <li><%= link_to('Home', root_path) %></li>
      <li><%= link_to('Users', users_path) %></li>
      <li><%= link_to('Groups', groups_path) %></li>
      <li><%= link_to('Resources', resources_path) %></li>
    </ul>
  </nav>

  <% if ! @current_user.nil? %>
    <div class="row">
      <p>You are logged as <%= @current_user.displayName %> (<%= @current_user.uid %>) - <%= link_to 'Logout', logout_path %></p>
    </div>
  <% end %>

<% if ! flash.empty? or ! @messages.nil? %>
  <div class="row">
  <% flash.each do | type, message | %>
    <div class="alert <%= type %>"><%= message %></div>
  <% end %>
  <% @messages.each do | type, message | %>
    <div class="alert <%= type %>"><%= message %></div>
  <% end %>
  </div>
<% end %>

  <header class="row">
    <h2><%= @title %></h2>
  </header>

<%= yield %>

  <footer class="row">
    <p>Zarafa Dashboard by Antoine POPINEAU</p>
  </footer>

</body>
</html>
