<!DOCTYPE html>
<html>
<head>
  <title>ZDashboard - <%= @title %></title>

  <%= stylesheet_link_tag    'gumby', media: 'screen' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="pure">

  <header class="row">
    <h1 class="ten columns columns">ZDashboard</h1>
    <p class="two columns"><%= image_tag 'zarafa.jpg' %></p>
  </header>

  <nav class="row navbar">
    <ul class="twelve columns">
      <li><%= link_to('Home', root_path) %></li>
      <li><%= link_to('Users', users_path) %></li>
      <li><%= link_to('Groups', groups_path) %></li>
    </ul>
  </nav>

<% if ! flash.empty? %>
  <div class="row">
  <% flash.each do | type, message | %>
    <div class="alert-box <%= type %>"><%= message %></div>
  <% end %>
  </div>
<% end %>

  <header class="row">
    <h2><%= @title %></h2>
  </header>

<%= yield %>

  <footer class="row">
    <p>Zarafa Dashboard by Antoine POPINEAU</p>
  </footer>

</body>
</html>
